<h2>Sign Up for an Account!</h2>

<%= form_for(@user) do |f| %>
   <%= render 'shared/error_messages', object: f.object %>

  <p>
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </p>

  <p>
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
  </p>

  <p>
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </p>

  <p>
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </p>

  <p>
    <%= f.label :balance_floor %><br>
    <%= f.number_field :balance_floor %>
  </p>

  <div class="actions">
    <%= f.submit "Create Account" %>
  </div>
<% end %>
